* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
header {
    background-color: rgb(241, 235, 235);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 2;
}
header a.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin-right: 10%;
}
header .image img {
    width: 100px;
    height: 100px;
}
header .text {
    font-size: 1rem;
    text-transform: uppercase;
}
header nav {
    width: 100%;
    padding-right: 20px;
}
header nav ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    position: relative;
    font-size: 1.4rem;
    text-transform: uppercase;
}
header nav ul li a::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: rgb(255, 0, 0);    
    transition: 0.3s;
}
header nav ul li a:hover::before {
    width: 100%;
}
header nav ul li a:hover {
    color: red;
}
section.landpage {
    padding: 30px;
    position: relative;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    background-image: url(https://i.pinimg.com/1200x/ea/2c/68/ea2c68cfce2c02078e35de9fddcfda10.jpg);
}
section.landpage .text{
    background-color: rgba(206, 180, 180, 0.3);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30%;
    align-items: center;
    margin-bottom: 20px;
}
section.landpage h2 {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    align-self: flex-start;
}
section.landpage h2 mark {
    background-color: rgba(255, 0, 0, 0.774);
    color: white;
    padding: 0 10px;
}
section.landpage p {
    padding: 2px 10px;
    background-color: rgba(36, 31, 31, 0.767);
    color: white;
    width: 50%;
    text-transform: capitalize;
    font-size: 1.2rem;
    font-weight: 500;
}
section.landpage .btn {
    margin: 20px auto;
    transition: 0.3s;
    width: fit-content;
}
section.landpage .btn button {
    padding: 5px 3vw;
    border-radius: 30px;
    border: solid black 1px;
    background: rgba(255, 255, 255, 0.219);
    transition: 0.3s;
}
section.landpage .btn button a {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.1rem;
    text-decoration: none;
    color: black;
    transition: 0.3s;
}
section.landpage .btn:hover {
    transform: scale(1.2, 1.2);
    
}
section.landpage .btn:hover button {
    padding: 5px 8vw;
}
section.landpage .btn:hover a {
    color: red;
}
section.menu {
    min-height: 100vh;
    background: linear-gradient(135deg, #d6cbcb, #111827, #c9bdbd);
    padding: 20px;
}
section.menu p {
    text-align: center;
    border-bottom: 2px black solid;
    padding-bottom: 3px;
    font-size: 2rem;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
}
section.menu .content {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
section.menu .content .box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    transition: 0.3s;
    border: solid 3px black;
}
section.menu .content .box img {
    width: 90%;
    height: 70%;
    border: 3px black solid;
    border-radius: 20px;
    padding: 10px;
}
section.menu .content .text {
    padding: 20px;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: capitalize;
    color: black;
    letter-spacing: 3px;
    text-align: center;
}
section.menu .content .box:hover {
    transform: translate(-5px, 10px) scale(1.1, 1.1);
}
section.electronics {
    background: linear-gradient(135deg, #d6cbcb, rgb(66, 255, 94), #d6cbcb);
}
section.electronics .bestseller .headtext {
    padding: 20px;
    border-bottom: black 2px solid;
    background-color: rgba(255, 255, 255, 0.349);
}
section.electronics .bestseller .headtext h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 2px;
}
section.electronics .bestseller .content {
    padding: 20px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 20px;
    text-align: center;
    padding: 10px;
    border: 2px black solid;
}
section.electronics .bestseller .content .box {
    padding: 20px;
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.349);
}
section.electronics .bestseller .content .image {
    border: black 3px solid;
    border-radius: 20px;
    padding: 10px;
}
section.electronics .bestseller .content .image img {
    width: 200px;
    height: 200px;
}
section.electronics .bestseller .content .text {
    text-decoration: none;
    color: black;
    padding: 10px;
}
section.electronics .bestseller .content .text h3 {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    margin: 5px;
    letter-spacing: 2px;
}
section.electronics .bestseller .content .text p {
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: capitalize;
}
section.electronics .bestseller .content .text p span {
    font-size: 1rem;
    margin-top: 2px;
    font-weight: 600;
}
section.electronics .bestseller .content .btn {
    width: fit-content;
    margin: 0 auto;
}
section.electronics .bestseller .content .btn button {
    padding: 5px 3vw;
    border: black 2px solid;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 1.1rem;
    font-weight: 700;
    text-transform: capitalize;
}
section.electronics .bestseller .content .btn button:hover {
    padding: 5px 8vw;
    color: red;
}
section.grid {
    padding: 20px;
    display: grid;
    justify-content: space-around;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    background: linear-gradient(135deg, #111827, #c9bdbd, #d6cbcb);
}
section.grid .left .content, section.grid .right .content {
    margin: 0 10px;
}
section.grid .left .content .box {
    display: grid;
    justify-content: center;
    margin: 20px 0;
    text-align: center;
}
section.grid .right h2, .left h2 {
    text-align: center;
    font-weight: 700;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 2px black solid;
    margin: 0 5px;
    padding: 5px 0;
}
section.grid .right .content .box {
    display: grid;
    justify-content: center;
    text-align: center;
    background-color: #d6cbcb42;
    margin: 20px 0;
}

section.grid .content .box .image {
    transition: 0.3s;
}
section.grid .content .box .image:hover {
    transform: scale(1.1, 1.1)
}
section.grid .left .content .box {
    background-color: #d6cbcb42;
}
section.grid .content .box .text {
    color: black;
    margin: 5px 0;
}
section.grid .content .box .text h3 {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
}
section.grid .content .box .text p {
    font-size: 1.1rem;
    font-weight: 500;
    text-transform: capitalize;
    margin: 5px 0;
}
section.grid .content .box .text p span {
    font-weight: 600;
    margin-top: 10px;
}
footer.contactsec {
    padding: 10px;
    background: linear-gradient(135deg, #1b1b1b, #0c0c0c, #110010);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    color: white;
    min-height: 50vh;
}
footer.contactsec .text {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
}
footer.contactsec .middle {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}
footer.contactsec .middle p {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 10px;
}
footer.contactsec .middle .btn button {
    padding: 5px 3vw;
    border: solid 2px black;
    border-radius: 20px;
}
footer.contactsec .middle .btn button a {
    text-decoration: none;
    font-size: 1.1rem;
    text-transform: capitalize;
    font-weight: 500;
    transition: 0.3s;
    color: black;
}
footer.contactsec .middle .btn button a:hover {
    padding: 5px 5vw;
    color: red;
}
footer.contactsec .about {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}
footer.contactsec .about div {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.288);
    width: 50%;
    padding: 10px;
    border-radius: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 700;
}
footer.contactsec .about div:hover {
    color: red;
    transform: matrix(5px, 5px);
}
footer.contactsec .text {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
footer.contactsec .image img {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s
}
footer.contactsec .image img:hover {
    padding: 5px;
}
footer.contactsec .title {
    display: grid;
    justify-content: flex-end;
    align-items: center;
    line-height: 25px;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
}
a {
    text-decoration: none;
}

@media (max-width: 424px) {
    header .logo .image img {
        width: 40px;
        height: 40px;
    }
    header .logo .text h1 {
        font-size: 0.8rem;
    }
    header nav ul li a {
        font-size: 0.5rem;
    }
    section.landpage .text h2 {
        font-size: 1rem;
    }
    section.landpage .text p {
        font-size: 0.6rem;
        letter-spacing: 1px;
        width: 80%;
        align-self: flex-start;
    }
    section.landpage .btn button a {
        font-size: 0.9rem;
    }
    section.menu p {
        font-size: 1.2rem;
    }
    section.menu .content {
        flex-wrap: wrap;
    }
    section.menu .content a {
        margin: 10px 0;
        padding: 30px;
    }
    section.menu .content .box:hover {
        transform: translate(-5px, 10px) scale(1.05, 1.05);
    }
    section.electronics .bestseller .headtext h2 {
        font-size: 1.2rem;
    }
    section.grid .box {
        width: 100%;
        padding: 0 5px;
    }
    section.grid .right .headtext h2 {
        font-size: 0.8rem;
    }
    section.grid .left .headtext h2 {
        font-size: 1rem;
    }
    section.grid .left .content .box .image img,
    section.grid .right .content .box .image img {
        width: 100px;
        height: 100px;
    }
    section.grid .left .content .box h3 {
        font-size: 1rem;
    }
    section.grid .right .content .box .text h3 {
        font-size: 0.7rem;
    }
    section.grid .right .content .box p,
    section.grid .left .content .box p {
        font-size: 0.5rem;
    }
    footer.contactsec {
        display: block;
    }
    footer.contactsec .text {
        font-size: 1.2rem;
        text-align: center;
        margin-bottom: 20px;
    }
    footer.contactsec .middle p {
        font-size: 1rem;
    }
    footer.contactsec .about div {
        margin: 10px 0;
    }
    footer.contactsec .text {
        flex-direction: row;
        align-items: center;
    }
    footer.contactsec .text .image img {
        width: 30px;
        height: 30px;
    }
    footer.contactsec .title {
        display: flex;
        flex-direction: row;
    }
}
@media (min-width: 425px) and (max-width: 767px) {
    header .logo .image img {
        width: 40px;
        height: 40px;
    }
    header .logo .text h1 {
        font-size: 0.8rem;
    }
    header nav ul li a {
        font-size: 0.5rem;
    }
    section.landpage .text h2 {
        font-size: 1rem;
    }
    section.landpage .text p {
        font-size: 0.8rem;
        letter-spacing: 1px;
        width: 80%;
        align-self: flex-start;
    }
    section.landpage .btn button a {
        font-size: 0.9rem;
    }
    section.menu p {
        font-size: 1.5rem;
    }
    section.menu .content {
        flex-wrap: wrap;
    }
    section.menu .content a {
        margin: 10px 0;
        padding: 30px;
    }
    section.menu .content .box:hover {
        transform: translate(-5px, 10px) scale(1.05, 1.05);
    }
    section.electronics .bestseller .headtext h2 {
        font-size: 1.5rem;
    }
    section.grid .box {
        width: 100%;
        padding: 0 5px;
    }
    section.grid .right .headtext h2 {
        font-size: 1rem;
    }
    section.grid .left .headtext h2 {
        font-size: 1rem;
    }
    section.grid .left .content .box .image img,
    section.grid .right .content .box .image img {
        width: 120px;
        height: 120px;
    }
    section.grid .left .content .box h3 {
        font-size: 1rem;
    }
    section.grid .right .content .box .text h3 {
        font-size: 0.7rem;
    }
    section.grid .right .content .box p,
    section.grid .left .content .box p {
        font-size: 0.7rem;
    }
    footer.contactsec {
        display: block;
    }
    footer.contactsec .text {
        font-size: 1.2rem;
        text-align: center;
        margin-bottom: 20px;
    }
    footer.contactsec .middle p {
        font-size: 1rem;
    }
    footer.contactsec .about div {
        margin: 10px 0;
    }
    footer.contactsec .text {
        flex-direction: row;
        align-items: center;
    }
    footer.contactsec .text .image img {
        width: 30px;
        height: 30px;
    }
    footer.contactsec .title {
        display: flex;
        flex-direction: row;
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    header .logo .image img {
        width: 50px;
        height: 50px;
    }
    header .logo .text h1 {
        font-size: 1rem;
    }
    header nav ul li a {
        font-size: 1rem;
    }
    section.landpage .text h2 {
        font-size: 1.2rem;
    }
    section.landpage .text p {
        font-size: 1rem;
        letter-spacing: 1px;
        width: 80%;
        align-self: center;
    }
    section.landpage .btn button a {
        font-size: 0.9rem;
    }
    section.menu p {
        font-size: 1.5rem;
    }
    section.menu .content {
        flex-wrap: wrap;
    }
    section.menu .content a {
        margin: 10px 0;
        padding: 30px;
    }
    section.menu .content .box:hover {
        transform: translate(-5px, 10px) scale(1.05, 1.05);
    }
    section.electronics .bestseller .headtext h2 {
        font-size: 1.5rem;
    }
    section.grid .box {
        width: 100%;
        padding: 0 5px;
    }
    section.grid .right .headtext h2 {
        font-size: 1rem;
    }
    section.grid .left .headtext h2 {
        font-size: 1rem;
    }
    section.grid .left .content .box .image img,
    section.grid .right .content .box .image img {
        width: 150px;
        height: 150px;
    }
    section.grid .left .content .box h3 {
        font-size: 1.2rem;
    }
    section.grid .right .content .box .text h3 {
        font-size: 1rem;
    }
    section.grid .right .content .box p,
    section.grid .left .content .box p {
        font-size: 0.9rem;
    }
    footer.contactsec {
        display: block;
    }
    footer.contactsec .text {
        font-size: 1.2rem;
        text-align: center;
        margin-bottom: 20px;
    }
    footer.contactsec .middle p {
        font-size: 1.2rem;
    }
    footer.contactsec .about div {
        margin: 10px 0;
    }
    footer.contactsec .text {
        flex-direction: row;
        align-items: center;
    }
    footer.contactsec .text .image img {
        width: 40px;
        height: 40px;
    }
    footer.contactsec .title {
        display: flex;
        flex-direction: row;
    }
}